<div id="netccnmap" style="width: 100%; height: 400px"/>

<script defer async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlJWrHtfG5OgYKP5h0Gxk2HuopMWpKI0k&callback=initMap"></script>

<script>
function initMap() {
  console.log("initializing google map");
  fetch("{{"netccn/hospitals.json" | absURL}}").then(res=>res.json()).then(hospitals=>{

    let map = new google.maps.Map(document.getElementById("netccnmap"), {
      center: { lat: 40, lng: -100 },
      zoom: 3,
      scrollwheel: false,
    });

    let deployedIcon = {
      path: "M10.453 14.016l6.563-6.609-1.406-1.406-5.156 5.203-2.063-2.109-1.406 1.406zM12 2.016q2.906 0 4.945 2.039t2.039 4.945q0 1.453-0.727 3.328t-1.758 3.516-2.039 3.070-1.711 2.273l-0.75 0.797q-0.281-0.328-0.75-0.867t-1.688-2.156-2.133-3.141-1.664-3.445-0.75-3.375q0-2.906 2.039-4.945t4.945-2.039z",
      fillColor: "#c30",
      fillOpacity: 1.0,
      strokeWeight: 0,
      rotation: 0,
      scale: 1.5,
      anchor: new google.maps.Point(15, 30),
    }

    let nondeployedIcon = {
      path: "M10.453 14.016l6.563-6.609-1.406-1.406-5.156 5.203-2.063-2.109-1.406 1.406zM12 2.016q2.906 0 4.945 2.039t2.039 4.945q0 1.453-0.727 3.328t-1.758 3.516-2.039 3.070-1.711 2.273l-0.75 0.797q-0.281-0.328-0.75-0.867t-1.688-2.156-2.133-3.141-1.664-3.445-0.75-3.375q0-2.906 2.039-4.945t4.945-2.039z",
      fillColor: "gray",
      fillOpacity: 0.8,
      strokeWeight: 0,
      rotation: 0,
      scale: 1.5,
      anchor: new google.maps.Point(15, 30),
    }

    hospitals.forEach(h=>{
      const marker = new google.maps.Marker({
        position: {
          lat: h.lat,
          lng: h.lng,
        },
        map,
        title: h.title,
        animation: h.deployed?google.maps.Animation.DROP:null,
        icon: h.deployed?deployedIcon:nondeployedIcon,
      });
      if(h.deployed) {
        google.maps.event.addListener(marker, 'click', ()=>{
          document.location = h.id;
        });
      }
    });
  });
}

//initMap(); //I should let google map's async

</script>
