<div id="netccnmap">

<script defer async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlJWrHtfG5OgYKP5h0Gxk2HuopMWpKI0k&callback=initMap"></script>

<script>
function initMap() {
  console.log("initializing google map");
  fetch("{{"netccn/hospitals.json" | absURL}}").then(res=>res.json()).then(hospitals=>{

    let map = new google.maps.Map(document.getElementById("netccnmap"), {
      center: { lat: 40, lng: -100 },
      zoom: 4,
      scrollwheel: false,
    });

    let deployedIcon = {
      url: '../images/hospital.deployed.png',
      rotation: 0,
      //scaledSize: new google.maps.Size(10, 20),
      anchor: new google.maps.Point(10, 28),
    }
    let nondeployedIcon = {
      url: '../images/hospital.png',
      rotation: 0,
      anchor: new google.maps.Point(10, 28),
    }

    hospitals.forEach(h=>{
      const marker = new google.maps.Marker({
        position: {
          lat: h.lat,
          lng: h.lng,
        },
        map,
        title: h.title,
        //animation: h.deployed?google.maps.Animation.DROP:null, //too slow
        zIndex: h.deployed?1:0,
        icon: h.deployed?deployedIcon:nondeployedIcon,
      });
      if(h.deployed) {
        google.maps.event.addListener(marker, 'click', ()=>{
          document.location = h.fips;
        });
      }
    });
  });
}

//initMap(); //I should let google map's async

</script>
